/* @media screen {
    
    body{
        background-color:silver;        
    }
    div{
        border:3px solid purple;
    }

}

@media print {
     div{
        color:purple;
     } 
     
     
}
     */

@import url("screen.css") screen;

@import url("print.css") print;



     
